.container {
  width: 900px;
  margin: 0 auto;
}

.container h2 {
  text-align: center;
  color: black;
  font-weight: bold;
}

.container .btn-three {
  width: 150px;
  margin: 16px 0;
  display: flex;
  align-items: center;
}

.container .pubs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px auto;
}

@media(max-width: 900px) {
  .container {
    width: 500px;
  }
}

@media(max-width: 500px) {
  .container {
    width: 300px;
  }
}
